body {
	font-family: "Fredoka", sans-serif;
	margin: 0;
	font-family: sans-serif;
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
	background-size:cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}
.horoscopo__container{
	border-radius: 20px;
	box-shadow: 0px 0px 15px 0px #7593ca, inset 0px 0px 30px 0px #5FFBF1;
	color: white;
	width: 60%;
	height: 300px;
	margin: 10% auto;
	text-align: center;
	text-shadow: 2px 2px 4px #D16BA5;
}
.tittle{
	padding-top: 60px;
}

.form{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.input{
	color: #D16BA5;
	width: 60%;
	margin: 0 auto;
	font-size: 1.3em;
	padding: 10px;
	text-align: center;
	border: none;
	border-radius: 10px;

}
.button{
	color: #86A8E7;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.57);
	background-color: white;
	cursor: pointer;
	margin: 0 auto;
	width: 50%;
	padding: 10px;
	border: none;
	border-radius: 10px;
	transform: scale(1);
	transition: all 0.5 ease;
}
.button:hover{
	transform: scale(1.1);
	transition: all 0.5 ease;
}
.error{
	padding: 0;
	margin: 0;
}
.result__container{
	border-radius: 20px;
	box-shadow: 0px 0px 15px 0px #7593ca, inset 0px 0px 30px 0px #5FFBF1;
	color: white;
	width: 60%;
	height: 300px;
	margin: 10% auto;
	text-align: center;
	text-shadow: 2px 2px 4px #D16BA5;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}
.horoscopotext{
	width: 80%;
	margin: 0 auto;
	text-align: justify;
	padding: 10px;
}
.button__result{
	color: #86A8E7;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.57);
	background-color: white;
	cursor: pointer;
	margin: 30px auto;
	width: 50%;
	padding: 10px;
	border: none;
	border-radius: 10px;
	transform: scale(1);
	transition: all 0.5 ease;
}
.button__result:hover{
	transform: scale(1.1);
	transition: all 0.5 ease;
}
.hide{
	display: none;
}
@media only screen and (max-width: 660px){
	body {
		font-family: "Fredoka", sans-serif;
		margin: 0;
		font-family: sans-serif;
		background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
		background-size:cover;
		background-repeat: no-repeat;
		min-height: 100vh;
	}
	.horoscopo__container{
		border-radius: 20px;
		box-shadow: 0px 0px 15px 0px #7593ca, inset 0px 0px 30px 0px #5FFBF1;
		color: white;
		width: 90%;
		height: 200px;
		margin: 50% auto;
		text-align: center;
		text-shadow: 2px 2px 4px #D16BA5;
	}
	.tittle{
		padding-top: 50px;
		font-size: 1.4em;
	}
	
	.form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 8px;
	}
	.input{
		color: #D16BA5;
		width: 60%;
		margin: 0 auto;
		font-size: 0.9em;
		padding: 10px;
		text-align: center;
		border: none;
		border-radius: 10px;
	
	}
	.button{
		color: #86A8E7;
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.57);
		background-color: white;
		cursor: pointer;
		margin: 0 auto;
		width: 50%;
		padding: 5px;
		border: none;
		font-size: 0.9em;
		border-radius: 10px;
		transform: scale(1);
		transition: all 0.5 ease;
	}
	.button:hover{
		transform: scale(1.1);
		transition: all 0.5 ease;
	}
	.error{
		padding: 0;
		margin: 0;
	}
	.result__container{
		border-radius: 20px;
		box-shadow: 0px 0px 15px 0px #7593ca, inset 0px 0px 30px 0px #5FFBF1;
		color: white;
		width: 80%;
		height: 350px;
		margin: 30% auto;
		font-size: 0.8em;
		text-align: center;
		text-shadow: 2px 2px 4px #D16BA5;
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
	}
	.horoscopotext{
		width: 80%;
		font-size: 1.2em;
		margin: 0 auto;
		text-shadow: 2px 2px 4px #7593ca;
		text-align: justify;
		padding: 10px;
	}
	.button__result{
		color: #86A8E7;
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.57);
		background-color: white;
		cursor: pointer;
		margin: 30px auto;
		width: 50%;
		padding: 10px;
		border: none;
		border-radius: 10px;
		transform: scale(1);
		transition: all 0.5 ease;
	}
	.button__result:hover{
		transform: scale(1.1);
		transition: all 0.5 ease;
	}
	.hide{
		display: none;
	}
}